openapi: 3.0.0
info:
  title: User API
  version: 2.0.0
paths:
  /users:
    get:
      summary: Get user
      parameters:
        - name: limit
          in: query
          schema:
            type: string
          description: Max number of users to return
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      email:
                        type: string
                  meta:
                    type: object
                    properties:
                      version:
                        type: string
